<div id="login_bar">
  <p id="user_p">
    Logged in as: 
    <a id="username"><%= session[:username] ? session[:username].capitalize : "Anonymous" %></a>
  </p>
  <input id="user_id" type="hidden" value="<%= session[:user_id] %>">
  <%= erb :'partials/no_user' if !session[:user_id]%>
  <%= erb :'partials/logout' if session[:user_id]%>
</div>
<div id="spacer" class="spacer">
  <div id="loader" class="interface loader">
    <div class="controls box">
      <%= erb :'partials/viewing' if @viewing %>
        <form>
          <select id="dropdown">
            <% @all_sprites.each do |sprite|%>
              <option value=<%= sprite.id %>><%= sprite.id.to_s + ": " + sprite.name.capitalize%></option>
            <% end %>
          </select>
        </form>
      <button id="load_button" class="load">Load this drawing.</button>
      <br>
      <button id="clear_button" class="clear">Clear the canvas.</button>
      <form class="saver">
        <%= erb :'partials/save_menu' if session[:user_id] %>
        <%= erb :'partials/no_save' if !session[:user_id] %>
      </form>
    </div>
  </div>
  <div id="pallette" class="interface pallete">
    <div class="swatch" id="highlight"></div>
    <div class="swatch" id="midtone"></div>
    <div class="swatch" id="shadow"></div>
  </div>
  <div id="canvas" class="interface canvas">
    <div id="grid" class="grid">
      <% 16.times do |y|%>
        <div id="<%='row' + y.to_s%>" class="row">
          <% 16.times do |x| %>
            <div id="<%='x'+ x.to_s + 'y' + y.to_s%>" class="pixel"></div>
          <% end %>
        </div>
      <% end %>
  </div>
</div>